//
//  Release.xcconfig
//  KITT-testApp
//
//  Created by Radek Jeník on 3/8/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

JSON_FILE_LINK = https:/$()/kittapp.store/kittdata/ios/

CONTENTITEM_JSON_FILE = items.json
VERSION_JSON_FILE = news.json

LIST_JSON_FILES = list.json
VERSION_FILE = version.txt

DEVELOPER = Radek Jeník, OOP Brno-Židenice
DEVELOPER_LINK = https:/$()/www.instagram.com/rjwannabefit/
KITT_ANDROID_LINK = https:/$()/play.google.com/store/apps/details?id=pack.example.kitt

MAIL_TO = kitt.app.info@gmail.com

