//
//  Staging.xcconfig
//  KITT-testApp
//
//  Created by Radek Jeník on 3/8/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

JSON_FILE_LINK = http:/$()/rjweb.cz/data/testingkitt/
OFFENSE_JSON_FILE = offenses.json
CRIME_JSON_FILE = crimes.json
LAWEXTRACT_JSON_FILE = lawextracts.json

DEVELOPER = @rjwannabefit
DEVELOPER_LINK = https:/$()/www.instagram.com/rjwannabefit/
KITT_ANDROID_LINK = https:/$()/play.google.com/store/apps/details?id=pack.example.kitt
