<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kittapp</string>
			</array>
		</dict>
	</array>
	<key>CONTENTITEM_JSON_FILE</key>
	<string>$(CONTENTITEM_JSON_FILE)</string>
	<key>CRIME_JSON_FILE</key>
	<string>$(CRIME_JSON_FILE)</string>
	<key>DEVELOPER</key>
	<string>$(DEVELOPER)</string>
	<key>DEVELOPER_LINK</key>
	<string>$(DEVELOPER_LINK)</string>
	<key>JSON_FILE_LINK</key>
	<string>$(JSON_FILE_LINK)</string>
	<key>KITT_ANDROID_LINK</key>
	<string>$(KITT_ANDROID_LINK)</string>
	<key>LAWEXTRACT_JSON_FILE</key>
	<string>$(LAWEXTRACT_JSON_FILE)</string>
	<key>LIST_JSON_FILES</key>
	<string>$(LIST_JSON_FILES)</string>
	<key>MAIL_TO</key>
	<string>$(MAIL_TO)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>OFFENSE_JSON_FILE</key>
	<string>$(OFFENSE_JSON_FILE)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
	</array>
	<key>VERSION_FILE</key>
	<string>$(VERSION_FILE)</string>
	<key>VERSION_JSON_FILE</key>
	<string>$(VERSION_JSON_FILE)</string>
</dict>
</plist>
